$border: hsl(209deg, 71%, 25%);

$site-bg: hsl(209deg, 71%, 1%);
$panel-bg: hsl(209deg, 71%, 3%);
$input-bg: hsl(209deg, 71%, 7%);
$game-area-bg: hsl(209deg, 71%, 6%);

$focus: hsl(209deg, 71%, 17%);
$hover: hsl(209deg, 71%, 13%);
$active: hsl(209deg, 71%, 20%);

$text: hsl(209deg, 100%, 93%);

$highlight-shadow: hsl(124deg, 74%, 54%); 
