@use "vars/colors";

.bottom-wrapper {
	display: flex;
	justify-content: space-between;
}

.inputs {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.game-area {
	background-color: colors.$game-area-bg;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	box-shadow: inset 0px 0px 15px 0px rgba(14, 29, 41, 1);
	padding: 2rem 3.5rem;
	display: flex;
	justify-content: space-between;
	gap: 3.5rem;
	position: relative;
}

.gg-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;

	font-size: 10rem;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(colors.$panel-bg, 0.8);
}
