@use "vars/colors";

* {
	box-sizing: border-box;
}

:root {
	color: colors.$text; 
	font-family: 'Orienta', sans-serif;
}

#root {
	display: grid;
	place-items: center;
}

input, button {
	background-color: colors.$input-bg; 
	border: 2px solid colors.$border;
	border-radius: 0.75rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	color: inherit;
	font-family: inherit;
	box-sizing: content-box;

	&:focus-visible {
		outline: none;
		transition: background-color 200ms ease-in-out;
		background-color: colors.$focus;
	}

	&:hover:not(:focus) {
		transition: background-color 200ms ease-in-out;
		background-color: colors.$hover;
	}

	&:active:not(input) {
		background-color: colors.$active;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
	cursor: pointer;
}

input[type="number"] {
	width: 2ch;
	text-align: right;
}

body, html, #root {
	width: 100%;
	height: 100%;
}

body {
	background-color: colors.$site-bg;
}

.App {
	width: 95%;
	height: 60%;
	background-color: colors.$panel-bg;
	border: 2px solid colors.$border;
	border-radius: 1rem;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	@media (min-width: 640px) {
		width: 85%;
	}

	@media (min-width: 768px) {
		width: 75%;
	}

	@media (min-width: 1024px) {
		width: 65%;
	}

	@media (min-width: 1280px) {
		width: 55%;
	}
}
