@use "vars/colors";

.inputs-wrapper {
	display: flex;
	justify-content: space-between;
}

.inputs {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.game-area {
	background-color: colors.$game-area-bg;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	box-shadow: inset 0px 0px 15px 0px rgba(14, 29, 41, 1);
	padding: 2rem 3.5rem;
	display: flex;
	justify-content: space-between;
	gap: 3.5rem;

	&--won {
		justify-content: center;
		align-items: center;
	}
}

.gg-text {
	font-size: 10rem;
	font-weight: bold;
}
